<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/icon.css" rel="stylesheet">
    <link href="/css/chat.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{/home_pages/home ::navigation}"></div>

<main class="d-flex justify-content-between align-items-start vh-90 mt-5">

    <div class="d-flex gap-1 flex-grow-1 h-100">
        <!-- Channel List -->
        <div class="channel-list border border-outline">
            <h5 th:text="${channel.getProject().getTitle()}"></h5>
            <hr>
            <h6>Channels</h6>
            <div th:each="channel : ${channel.getProject().getChannels()}" class="channel-item">
                <a th:href="@{/projects/{projectName}/channels/{channelName} (projectName=${channel.getProject().getTitle()}, channelName=${channel.getName()})}"
                   th:text="${channel.getName()}"
                   class="nav-link"
                >Channel Name</a>
            </div>
        </div>

        <div class="container chat-container">
            <!-- Header -->
            <div class="chat-header">
                <h3 class="mb-0" th:text="${channel.getName()}">Channel Name</h3>
            </div>

            <!-- Main Content (Messages Section) -->
            <div id="messages-container" class="chat-messages">
                <div class="message-bubble incoming" th:each="message : ${messages}">
                    <div id="user-info">
                        <img th:src="${message.getAvatarUrl()}" class="rounded-circle icon-small icon-small"
                             alt="user-logo">
                    </div>
                    <div id="message-info" class="message-info">
                        <small class="text-secondary fst-italic">
                            <span th:text="${message.getSenderUsername()}">Username</span>
                            <span th:text="${#temporals.format(message.getSentAt(), 'dd/MM/yyyy &bull; HH:mm')}">&nbsp;datum • vreme</span>
                        </small>
                        <p th:text="${message.getContent()}" class="lead text-break">Message Content</p>
                    </div>

                </div>
                <!--                Tuka pocvat messages-->
            </div>

            <!-- Input Section -->
            <div class="input-container">
                <textarea id="chat-message" th:disabled="${canWrite}" class="form-control h-fit-content" name="chatMessage"
                          placeholder="Type your message..."></textarea>
                <button id="send-message-button" th:disabled="${canWrite}" class="btn btn-primary">Send</button>
            </div>
        </div>

    </div>

    <!-- User List -->
    <div class="user-list me-3 border border-outline shadow">
        <h5 style="text-align: center">Users</h5>
        <hr>
        <div th:each="developer : ${developers}" class="user-item">
            <img th:src="${developer.getAvatarUrl()}" class="rounded-circle icon-small" alt="user-logo"
                 style="width: 3rem;height: 3rem;">
            <a class="text-break nav-link"
               th:href="@{/{username}/profile(username=${developer.getUsername()})}"
               th:text="${developer.getUsername()}"></a>
        </div>
    </div>
</main>

<div id="th-data" style="display: none"
     th:data-project-id="${channel.getProject().getId()}"
     th:data-channel-name="${channel.getName()}"
     th:data-username="${session.user.getUsername()}"
     th:data-project-name="${channel.getProject().getTitle()}"
     th:data-avatar-url="${session.user.getAvatarUrl()}"
>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!--
    JSPM Generator Import Map
    Edit URL: https://generator.jspm.io/#U2NgYGBkDM0rySzJSU1hcCguyc8t0AeTWcUO5noGega6SakliaYAYTzJAykA
  -->
<script type="importmap">
    {
      "imports": {
        "@stomp/stompjs": "https://ga.jspm.io/npm:@stomp/stompjs@7.0.0/esm6/index.js"
      }
    }
</script>

<!-- ES Module Shims: Import maps polyfill for modules browsers without import maps support (all except Chrome 89+) -->
<script
        async
        src="https://ga.jspm.io/npm:es-module-shims@1.5.1/dist/es-module-shims.js"
        crossorigin="anonymous"
></script>

<script type="module">
    import {Client} from '@stomp/stompjs';

    let projectId = document.getElementById("th-data").getAttribute("data-project-id")
    let channelName = document.getElementById("th-data").getAttribute("data-channel-name")
    let username = document.getElementById("th-data").getAttribute("data-username")
    let projectName = document.getElementById("th-data").getAttribute("data-project-name")
    let avatarUrl = document.getElementById("th-data").getAttribute("data-avatar-url")

    const messageJson = {
        channelName: channelName,
        content: "",
        senderUsername: username,
        sentAt: "",
        projectId: projectId,
        avatarUrl: avatarUrl
    };

    let cont = document.getElementById("messages-container");
    cont.scrollTop = cont.scrollHeight;


    const createChatMessage = (messageDto) => {

        messageDto = JSON.parse(messageDto)

        console.log("MESSAGE DTO CELO VO CRETEA: " + Object.keys(messageDto).map(key => `${key} : ` + messageDto[key]))


        console.log("vleze create")
        const newMessageDiv = document.createElement("div");
        let sentAt = new Date(); // Current date and time
        let formattedDate = `${String(sentAt.getDate()).padStart(2, '0')}/${String(sentAt.getMonth() + 1).padStart(2, '0')}/${sentAt.getFullYear()} • ${String(sentAt.getHours()).padStart(2, '0')}:${String(sentAt.getMinutes()).padStart(2, '0')}`;

        console.log("avatar: " + messageDto.avatarUrl)

        newMessageDiv.innerHTML =
            `

                    <div id="user-info">
                        <img src="${messageDto.avatarUrl}" class="rounded-circle icon-small icon-small"
                             alt="user-logo">
                    </div>
                    <div id="message-info" class="message-info">
                        <small class="text-secondary fst-italic">
                            <span>${messageDto.senderUsername}</span>
                            <span>${formattedDate}</span>
                        </small>
                        <p class="lead text-break">${messageDto.content}</p>
                    </div>


        `

        newMessageDiv.classList.add("message-bubble", "incoming");

        cont.append(newMessageDiv);
        newMessageDiv.scrollTo()
    }

    const client = new Client({
        brokerURL: 'ws://localhost:8080/channel-websocket',
        onConnect: () => {
            client.subscribe(`/projects/${projectName}/channels/${channelName}`, message => {
                    createChatMessage(message.body)
                    console.log("MESSAGE RECIEVED: " + Object.keys(JSON.parse(message.body)));
                    document.getElementById("chat-message").value = '';
                    cont.scrollTop = cont.scrollHeight;
                }
            );
        },
    });
    client.activate();


    let sendButton = document.getElementById("send-message-button");

    sendButton.addEventListener("click", () => {
        let message = document.getElementById("chat-message").value;
        let msgRegex = /^\s*$/;
        if(message == null || message === '' || msgRegex.test(message)) return
        messageJson.content = document.getElementById("chat-message").value;
        client.publish({
            destination: `/projects/${projectName}/channels/${channelName}`,
            body: JSON.stringify(messageJson)
        });
    })

    document.getElementById("chat-message").addEventListener("keydown", (event) => {
        if(event.key === 'Enter' && !event.shiftKey){
            event.preventDefault();
            sendButton.click();
        }
    })


</script>
</body>
</html>
