<form th:with="borderStyle=${canEdit ? 'border-secondary rounded' : 'border-0 pe-none'}" method="post"
       class="d-flex gap-2 flex-grow-1 flex-column gap-2 list-group-flush " th:action="@{/{username}/profile/change(username=${username})}"
       th:fragment="user_fields(username)">
       <h5>Personal Details</h5>
       <label class="fw-bold ">Username:
              <input th:readonly="${!canEdit}" th:disabled="${!canEdit}" th:classappend="${borderStyle}" name="username"
                     type="text" th:value="${user.getUsername()}" class="w-100 border  ps-2  list-group-item">
       </label>
       <label class="fw-bold ">Name:
              <input th:readonly="${!canEdit}" th:disabled="${!canEdit}" th:classappend="${borderStyle}" name="name"
                     type="text" th:value="${user.getName()}" class="border ps-2  w-100 list-group-item">
       </label>
       <label class="fw-bold ">Email:
              <input th:readonly="${!canEdit}" th:disabled="${!canEdit}" th:classappend="${borderStyle}" name="email"
                     type="text" th:value="${user.getEmail()}" class="border ps-2 w-100 list-group-item">
       </label>
       <label>
              <span class="fw-bold d-block">Description</span>
              <textarea name="description" th:readonly="${!canEdit}" th:disabled="${!canEdit}"
                     th:classappend="${borderStyle}" class="border ps-2  w-100"
                     th:text="${user.getDescription()}"></textarea>
       </label>
       <label th:if="${canEdit}" class="fw-bold ">Password:
              <input name="password" placeholder="Leave empty if you don't want to change it" type="password"
                     th:classappend="${borderStyle}" class="w-100 ps-2 list-group-item border ">
       </label>
       <input type="hidden" name="cur_user_username"
              th:value="${session.user == null} ? '' : ${session.user.getUsername()}">
       <a th:href="@{/{username}/project-requests(username=${username})}">View project requests</a>
       <button th:if="${canEdit}" class="btn btn-success btn-sm w-50 align-self-center">Save changes
       </button>
</form>